.SearchAndFilter {
  position: sticky;
  top: 0;
  left: 0;
  min-width: 15vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: var(--pad-top);
  height: fit-content;
}
.SearchAndFilter h3 {
  font-size: calc(var(--step-0) - 0.1vmax);
}
/* // Search box */
.ais-SearchBox-form {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}
.ais-SearchBox-form button {
  padding: 0 0.75rem 0 0.5rem;
  background-color: #fff0;
  border: none;
  position: absolute;
  right: 0;
}
.ais-SearchBox-loadingIndicator {
  display: none !important;
}
.ais-SearchBox-input {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--100);
  border: 1px solid var(--400);
  padding: 0 1rem 0 0.5rem;
  color: var(--700);
}
.ais-SearchBox-input::-webkit-search-cancel-button {
  display: none;
}
.ais-SearchBox-submit {
  display: none;
}
/* // Refinement */
.ais-RefinementList-label {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--200);
  cursor: pointer;
  border-radius: 5px;
}
.ais-RefinementList-label:hover {
  background-color: var(--300);
}
.ais-RefinementList-checkbox {
  margin-right: 0.5rem;
  accent-color: var(--accent);
}
.ais-RefinementList-count {
  margin-left: auto;
  font-size: var(--step--1);
}

.ais-RefinementList-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ais-RefinementList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ais-RefinementList-showMore {
  width: fit-content;
  margin: auto;
}
.ais-RefinementList-noResults {
  font-size: var(--step--1);
}
.ais-Highlight-highlighted {
  background-color: var(--accent) !important;
}
