.ais-InfiniteHits {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: var(--pad-top);
}
.ais-InfiniteHits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(30%, 140px), 1fr));
  list-style: none;
  gap: 2rem 0.5rem;
}

.ais-InfiniteHits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeUp 0.75s ease-out forwards;
}
.ais-InfiniteHits-item svg {
  max-width: 250px;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.ais-InfiniteHits-loadMore {
  align-self: center;
}
.ais-InfiniteHits-loadMore:disabled {
  display: none;
}
.posCount {
  font-size: var(--step--1);
}
.chord_name {
  margin-bottom: -1rem;
  font-size: calc(var(--step-0) + 0.2vmax);
}
